<a href="https://colab.research.google.com/github/vdllarch93/jupyter-notebook-introduction-data-science-intro-000/blob/master/OMDB_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**OMDB Exploratory Homework**

In [11]:
#First, find out where we are
!ls

movies_rated.csv  sample_data

In [14]:
#Import the data and print the first five rows

import pandas as pd
movies = pd.read_csv('movies_rated.csv')
print(movies.head())

                      title  year  ... Rotten Tomatoes Metacritic
0  The Shawshank Redemption  1994  ...             9.1        8.0
1             The Godfather  1972  ...             9.8       10.0
2           The Dark Knight  2008  ...             9.4        8.2
3    The Godfather: Part II  1974  ...             9.7        9.0
4              Pulp Fiction  1994  ...             9.4        9.4

[5 rows x 9 columns]

In [15]:
# Print out the num rows and cols in the dataset
movies.shape

(79, 9)

In [32]:
# Print out column names and data types
cols = movies.columns

for idx, col in enumerate(cols):
  print(idx+1, col)
  
print('===========================')  
movies.dtypes

1 title
2 year
3 content_rating
4 genre
5 duration
6 gross
7 Internet Movie Database
8 Rotten Tomatoes
9 Metacritic
10 rt_imdb_ratio
===========================

title                       object
year                         int64
content_rating              object
genre                       object
duration                     int64
gross                        int64
Internet Movie Database    float64
Rotten Tomatoes            float64
Metacritic                 float64
rt_imdb_ratio              float64
dtype: object

In [17]:
# How many unique genres are available in the dataset?
print('There are',movies['genre'].nunique(),'unique genres')

There are 12 unique genres

In [18]:
# How many movies are available per genre?
movies_per_genre = movies[['genre', 'title']].groupby('genre').count()
print(movies_per_genre)

                     title
genre
Action                  11
Adventure                9
Animation                5
Biography                5
Comedy                   4
Comedy                   1
Crime                   16
Drama                   14
Drama                    7
Horror                   2
Mystery                  2
Western                  3

In [36]:
# What are the top 5 R-rated movies? (hint: Boolean filters needed! Then sorting!)
print(movies[movies['content_rating'] == 'R'].sort_values('Rotten Tomatoes',ascending=False).head(5))

                title  year  ... Metacritic rt_imdb_ratio
63          Toy Story  1995  ...        9.5      1.204819
59       Citizen Kane  1941  ...       10.0      1.190476
66        Toy Story 3  2010  ...        9.2      1.192771
74  L.A. Confidential  1997  ...        9.0      1.192771
64        Taxi Driver  1976  ...        9.4      1.180723

[5 rows x 10 columns]

In [20]:
# What is the average Rotten Tomatoes score for all available films?
print('Average Rotten Tomatoes Score:', movies['Rotten Tomatoes'].mean())

Average Rotten Tomatoes Score: 9.087341772151895

In [21]:
# Same question as above, but for the top 5 films
print('Average Rotten Tomatoes Score for Top 5 Films: ',movies[['title' , 'Rotten Tomatoes']].sort_values('Rotten Tomatoes',ascending = False).head(5).mean())

Average Rotten Tomatoes Score for Top 5 Films:  Rotten Tomatoes    10.0
dtype: float64

In [22]:
# What is the Five Number Summary like for top rated films as per IMDB?
print(movies[['title' , 'Rotten Tomatoes']].sort_values('Rotten Tomatoes',ascending = False).head(5).describe())
print(movies[['Rotten Tomatoes']].sort_values('Rotten Tomatoes',ascending = False).head(5).agg(['count', 'mean', 'min', 'max' , 'std']))

       Rotten Tomatoes
count              5.0
mean              10.0
std                0.0
min               10.0
25%               10.0
50%               10.0
75%               10.0
max               10.0
       Rotten Tomatoes
count              5.0
mean              10.0
min               10.0
max               10.0
std                0.0

In [0]:
# Find the ratio between Rotten Tomato rating vs IMDB rating for all films. Update the dataframe to include a Ratings Ratio column (inplace).
movies['rt_imdb_ratio'] = movies['Rotten Tomatoes'] / movies['Internet Movie Database']

In [25]:
# Find the top 3 ratings ratio movies (rated higher on IMBD compared to Rotten Tomatoes)
print(movies[['title' , 'rt_imdb_ratio']].sort_values('rt_imdb_ratio',ascending = False).head(3))

                title  rt_imdb_ratio
63          Toy Story       1.204819
74  L.A. Confidential       1.192771
66        Toy Story 3       1.192771